
.requestHead {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.playerHead {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.carousel-item {
    background-color:#aaa;
    height: 100%;
    img {
        background-color:$body-bg;
        object-fit: cover;
        margin: 0 auto;
    }
}

.playerList {
    .card {
        .card-img-top {
            object-fit: contain;
        }
    }
}
