$main: #fd7f14;
$sub: #fff;

.requestView {
    .goToChat {
        margin: 0 0 0 auto;
        display: flex;
    }
}

.profileView {
    .goToChat {
        // height: 50px;
        // width: 50px;
        // border-radius: 50%;
        // background-color: $sub;
        margin: 0 0 0 auto;
        // color : $sub;
        display: flex;
        // // なかのアイコンの位置
        // align-items: center;
        // justify-content: center;
    }
}

.playerPost {
    .card {
        img {
            object-fit: contain;
        }
    }
} 
