$main: #fd7f14;
$sub: #fff;

.requestView {
    .goToChat {
        margin: 0 0 0 auto;
        display: flex;
    }
    .image {
        img {
            object-fit: contain;
        }
    }
    
}

.profileView {
    .goToChat {
        margin: 0 0 0 auto;
        display: flex;
    }
    .image {
        img {
            object-fit: contain;
        }
    }
    
}

.playerPost {
    .card {
        img {
            object-fit: contain;
        }
    }
} 

.myProfile {
    .image {
        
        img {
            background-color: #fff;
            object-fit: contain;
        }
    }
}

.myRequest {
    .image {
        text-align: center;
        img {
            background-color: #fff;
            object-fit: contain;
        }
        
    }
}

.requestList {
    .card-image-top {
        img {
            object-fit: contain;
        }
    }
}

.playerPages {
    .form-group {
        .label {
            span {
                height: 15.38px;
                margin-top: 2px;
            }
        }
    }
}
.requestPages {
    .form-group {
        .label {
            span {
                height: 15.38px;
                margin-top: 2px;
            }
        }
    }
}