
// カルーセル設定
.carousel-item {
  height: 100%;
  background-color: #009688;
}

.carousel img {
  max-height: 400px;
  max-width: 80%;
  object-fit: contain;
}

.custom-file-input {
  overflow: hidden;
}

body {
    
}

.player-post {
    .card {
        .card-img-top {
            width: 200px;
        }
    }
}

.request-post {
    .card-image-top {
        img {
            width: 300px;
        }
    }
}

.custom-file-label {
  white-space: nowrap;
}


// 詳細画像のサイズ

.card {
  .image {
    img {
      width: 200px;
    }
  }
}
