.carousel-item {
  height: 100%;
  background-color: #009688;
}

.carousel img {
  max-height: 400px;
  max-width: 80%;
  -o-object-fit: contain;
     object-fit: contain;
}

.custom-file-input {
  overflow: hidden;
}

.player-post .card .card-img-top {
  width: 200px;
}

.request-post .card-image-top img {
  width: 300px;
}

.custom-file-label {
  white-space: nowrap;
}

.card .image img {
  width: 200px;
}

.card .fa-stack .fa-circle {
  color: #009688;
}

.card .fa-stack .fa-comment {
  color: #fff;
}

