.carousel-item {
  height: 100%;
}

.carousel img {
  max-height: 100px;
  max-width: 80%;
  -o-object-fit: contain;
     object-fit: contain;
}

.custom-file-input {
  overflow: hidden;
}

.custom-file-label {
  white-space: nowrap;
}

